.canvas-container {
  margin-block-start: 2em;
  background-color: aliceblue;
}

.canvas-container h1 {
  text-align: center;
}

.canvas-container canvas {
  margin-inline-start: 4em;
  background-color: bisque;
}
